<h1>Creating student</h1>
<%= link_to  "Voltar", "/" %>

<%= form_tag "/student/create", :method => "post" do %>
    <%= text_field_tag :login_field, nil, placeholder: "email" %><br>
    <%= text_field_tag :full_name, nil, placeholder: "nome" %><br>
    <%= text_field_tag :nusp, nil, placeholder: "número usp" %><br>
    <%= password_field_tag :password, nil, placeholder: "senha" %><br>
    <input type="submit" value="Criar" />
<% end %>