<h1>User#list</h1>
<table border="1">
    <tr>
        <th>Email</th>
        <th>Tipo</th>
        <th>Nome</th>
        <th>Identificador</th>
        <th>Salt</th>
        <th>Hash</th>
    </tr>
<% @user_list.each do |user| %>
    <tr>
        <th><%= user.email %></th>
        <th><%= user.type %></th>
        <th><%= user.name %></th>
        <th><%= user.type == 'Student' ? user.nusp : user.cpf %></th>
        <th><%= user.pw_salt %></th>
        <th><%= user.pw_hash[0, 5] + '...' + user.pw_hash[-5..-1]%></th>
    </tr>
<% end %>
</table>