<h1>Web#home</h1>
<% if @user %>
<%= link_to  "Enroll in a course!", '/course/enroll' %>
<%= link_to  "Create new group!", '/group/create' %>
<%= link_to  "Enroll in a subject!", '/subject/enroll' %>
<div>Olá, <%= @user.name %>
    <%= form_tag "/user/close_session", :method => "post" do %>
        <input type="submit" value="Sair" />
    <% end %>
</div>
<% else %>
    <div>Você não está logado no momento! Use o formulário abaixo para entrar!</div>
    <%= form_tag "/user/new_session", :method => "post" do %>
        <%= text_field_tag :login_field, nil, placeholder: "Email" %><br>
        <%= password_field_tag :password, nil, placeholder: "Senha" %><br>
        <% if flash[:error_msg] %>
            <%= flash[:error_msg] %><br>
        <% end %>
        <input type="submit" value="Entrar" />
    <% end %>
<% end %>

<!-- Commented block -->
<% if false %>
<div>
    <% @courses.each do |course|  %>
    <h1><%= "#{course.name}" %></h1>
    <% end %>
</div>
<% end %>

<!-- Function for drawing a group -->
<% def draw_group(group) %>
    <li><%= group.name %>
        <% group.groups.each do |child_group| %>
            <ul><% draw_group(child_group) %></ul>
        <% end %>
    </li>
<% end %>
<h1>Base</h1>
<% draw_group(@base) if @base %><br>
<h1>Personal</h1>
<% draw_group(@personal) if @personal %><br>