<h1>Welcome to our project!</h1>
<% if @user %>
<% enroll_label = "Enroll in a course!" if @user.is? "student" %>
<% enroll_label = "Enroll a student in a course!" if @user.is? "supervisor" %>
<%= link_to enroll_label, '/course/enroll' %><br>
<% if @user.is? "supervisor" %>
    <%= link_to  "Become a supervisor of a course! (temporary)", '/course/assign' %><br>
<% end %>
<%= link_to  "Create new group!", '/group/create' %><br>
<%= link_to  "Create subject! (temporary?)", '/subject/create' %>
<div>Olá, <%= @user.name %> (<%= @user.type %>)
    <%= form_tag "/user/close_session", :method => "post" do %>
        <input type="submit" value="Sair" />
    <% end %>
</div>
<div>Você está logado nos seguintes lugares atualmente:</div>
<table border="1">
    <tr>
        <th>Navegador</th>
    </tr>
<% @user.sessions.where(active: true).each do |session_o| %>
    <tr style="background-color: <%= 'yellow' if session_o.session_key == session[:user_session]%>">
        <th><%= session_o.browser %></th>
        <th>
        <%= form_tag "/user/close_session", :method => "post" do %>
            <input type="hidden" name="session_id" value="<%= session_o.id %>" />
            <input type="submit" value="Sair" />
        <% end %>
        </th>
    </tr>
<% end %>
</table>
<% else %>
    <%= link_to  "Sign up as student", '/student/create' %> <br>
    <%= link_to  "Sign up as supervisor", '/supervisor/create' %>
    <div>Você não está logado no momento! Use o formulário abaixo para entrar!</div>
    <%= form_tag "/user/new_session", :method => "post" do %>
        <%= text_field_tag :login_field, nil, placeholder: "Email" %><br>
        <%= password_field_tag :password, nil, placeholder: "Senha" %><br>
        <% if flash[:error_msg] %>
            <%= flash[:error_msg] %><br>
        <% end %>
        <input type="submit" value="Entrar" />
    <% end %>
<% end %>

<!-- Commented block -->
<% if false %>
<div>
    <% @courses.each do |course|  %>
    <h1><%= "#{course.name}" %></h1>
    <% end %>
</div>
<% end %>

<%
def can_modify_group?(group)
    return false unless group

    # Get root group
    curr_group = group
    while curr_group.group
      curr_group = curr_group.group
    end

    if @user.class.name == "Student"
      # If student, must be part of this student's plan
      return false unless curr_group.plan
      return false unless @user == curr_group.plan.student

    elsif @user.class.name == "Supervisor"
      # If supervisor, must supervise course that has this group
      return false unless @user.courses.find(curr_group.course.id)
    else
      # If unknown class, it can't
      return false
    end

    return true
end
%>

<!-- Function for drawing a group -->
<% def draw_group(group, color = 0xddddee) %>
    <div class="group-frame" style="background-color: <%= "#%06x" % (color)%>">
        <li><%= group.name %> (cr: <%= group.min_credits || "nil" %>, dis: <%= group.min_subjects || "nil" %>)
            <% if can_modify_group? group && group.group %>
                <%= form_tag "/group/destroy", :method => "post" do %>
                    <input type="hidden" name="group_id" value="<%= group.id %>" />
                    <input type="submit" value="Deletar grupo" />
                <% end %>
            <% end %>
            <hr>
            <% group.subjects.each do |subject| %>
                <ul><li><%= subject %>
                <% if can_modify_group? group %>
                    <%= form_tag "/group/rem_subject", :method => "post" do %>
                        <%= hidden_field_tag :group_id, group.id %>
                        <%= hidden_field_tag :subject_id, subject.id %>
                        <input type="submit" value="Remover disciplina" />
                    <% end %>
                <% end %>
                </li></ul>
            <% end %>
            <% group.groups.each do |child_group| %>
                <ul><% draw_group(child_group, color - 0x171717) %></ul>
            <% end %>
            <% if group && can_modify_group?(group) %>
                <ul>
                <li>
                    <%= form_tag "/group/create", :method => "post" do %>
                        <%= hidden_field_tag :parent_group_id, group.id %>
                        <%= text_field_tag :name, nil, placeholder: "Nome do novo grupo" %>
                        <%= text_field_tag :min_credits, nil, placeholder: "Mínimo de créditos" %>
                        <%= text_field_tag :min_subjects, nil, placeholder: "Mínimo de disciplinas" %>
                        <input type="submit" value="<%= "Criar grupo filho de #{group.name}" %>" />
                    <% end %>
                    <%= form_tag "/group/add_subject", :method => "post" do %>
                        <%= hidden_field_tag :group_id, group.id %>
                        <%= select_tag :subject_id, options_from_collection_for_select(@subjects.select {|subject| not group.subjects.include? subject }, 'id', 'name') %>
                        <input type="submit" value="<%= "Adicionar disciplina em grupo #{group.name}" %>" />
                    <% end %>
                </li>
                </ul>
            <% end %>
        </li>
    </div>
<% end %>
<% if @user && @current_course %>
    <div>Escolha o curso</div>
    <%= form_tag "/web/home", :method => "get" do %>
        <%= select_tag :course_id, options_from_collection_for_select(@user.courses, 'id', 'name') %><br>
        <input type="submit" value="Edit" />
    <% end %>
    <h1><%= @current_course.name %><h1>
    <h2>Base</h2>
    <% draw_group(@base) if @base %><br>
    <% if @user.is? "student" %>
        <h2>Personal</h2>
        <% draw_group(@personal) if @personal %><br>
    <% end %>
<% end %>